fakenewsai.info, www.fakenewsai.info {
    encode gzip

    # Serve frontend files, fallback to index.html
    root * /home/alejandro/github/agbaltazar/Fake-News-Spotter/frontend
    file_server
    try_files {path} /index.html

    # Proxy all API requests to FastAPI
    @api {
        path /app/*
    }
    reverse_proxy @api localhost:8000

    log {
        output file /var/log/caddy/fakenewsai-access.log
    }
}
